textarea { width: 100%; }

.warning { border: 1px solid red; background-color: #FF9999 !important; }
#met_text.warning { background-color: #f5ea9a !important; }
.shiny-notification { border-color: red !important; }

#var_list button.selected { background-color: blue; }
code {
  background-color: #EDF0F5;
  background-color: hsla(218, 94%, 20%, .05);
  color: #032763;
}

#met_text, #ana_code, #n, #mu, #sd, #r {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}


#roles label.checkbox-inline {
  min-width: 14em;
}

#roles label.checkbox-inline:first-child {
  margin-left: 10px;
}

/* override keytable style */
table.dataTable tbody td.focus {
  box-shadow: none !important;
}
