.warning { border: 1px solid red; background-color: #FF9999 !important; }
textarea { width: 100%; }
.shiny-notification { border-color: red !important; }
#var_list button.selected { background-color: blue; }
code {
  background-color: #EDF0F5;
  background-color: hsla(218, 94%, 20%, .05);
  color: #032763;
}

#ana_code, #n, #mu, #sd, #r {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
